@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Roboto+Slab:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: block;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  min-width: 320px;
}

header {
  min-height: 850px;
  text-align: center;
}

main {
  min-height: 2100px;
  text-align: center;
}

footer {
  min-height: 127px;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 142.7%;
}

.bg-image-header {
  position: absolute;
  background: url(../images/homepage/header/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 850px;
  z-index: -1;
  /* opacity: 0.4; */
}

.header-icon {
  padding-top: 20px;
}

.input-search {
  all: unset;
  /* width: 350px; */
}

.border-bottom {
  margin: 10px 0;
  border-bottom: 2px solid black;
}

.border-bottom-green {
  width: 180px;
  border: 1px solid #57984c;
  margin: 27px auto 20px;
}

.header-menu {
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #324950;
  list-style-type: none;
  gap: 15px;
}

.header-search,
.header-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header-content2 {
  margin-top: 100px;
}

.header-content2-h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 142.7%;
  color: #735440;
  margin: 0 0 60px 0;
}

.header-content2-button {
  width: 160px;
  height: 55px;
  background-color: #57984c;
  border: none;
  color: white;
  padding: 16px 31px;
  text-decoration: none;
  font-family: 'Roboto';
}

.main-section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
  min-height: 190px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142.7%;
}

.flex-container {
  max-width: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.main-section2 {
  padding: 71px 10px 100px 10px;
  min-height: 1100px;
  width: 100%;
  /* background-color: black; */
  background-color: #f7f7f7;
}

.bg-image-main {
  background: url(../images/homepage/main/section2/Union.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 1100px;
}

.content-flex {
  min-height: 1100px;
  max-width: 1100px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 30px;
}

.main-section2-article {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.article-content {
  width: 300px;
}

.article-img {
  object-fit: cover;
  max-width: 540px;
  width: 100%;
}

.h3 {
  font-weight: 700;
  font-size: 64px;
  line-height: 142.7%;
  color: #324950;
}

.p-start {
  padding: 10px 0;
  color: #57984c;
}

.article-p {
  font-weight: 400;
  font-size: 20px;
  line-height: 162.7%;
  color: #324950;
}

.main-section3 {
  background-color: #e5e5e5;
  min-height: 640px;
  padding-top: 75px;
  padding-bottom: 85px;
}

.flex-content img {
  width: 300px;
  height: 220px;
  object-fit: contain;
}

.main-section3-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
}

.section3-p {
  font-weight: 700;
  font-size: 24px;
  line-height: 142.7%;
  color: #57984c;
}

.section3-p2 {
  max-width: 350px;
  font-weight: 400;
  font-size: 18px;
  line-height: 142.7%;
  color: #324950;
}

.footer-contain1 {
  min-height: 76px;
  display: flex;
  flex-direction: column;
  background: #2d3f45;
  align-items: center;
  justify-content: space-evenly;
}

.footer-nav {
  display: flex;
  gap: 15px;
  font-size: 16px;
  color: #ffffff;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}

.footer-nav-icon {
  display: flex;
  gap: 10px;
}

.footer-contain2 {
  min-height: 51px;
  display: flex;
  background: #324950;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #b9b9b9;
}

@media (min-width: 952px) {
  .footer-contain1 {
    flex-direction: row;
  }

  .footer-nav {
    gap: 25px;
  }

  .main-section2-article {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .main-section2-article + .main-section2-article {
    display: flex;
    flex-direction: row;
  }

  .article-content {
    width: 495px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .article-p {
    text-align: start;
    font-weight: 400;
    font-size: 20px;
    line-height: 162.7%;
    color: #324950;
  }

  .header-content1 {
    max-width: 1127px;
    width: 100%;
    height: 113px;
    padding-top: 20px;
    margin: 0 auto 229px auto;
    display: flex;
    justify-content: space-between;
  }

  .header-icon {
    padding: 0;
  }

  .header-content1-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header-menu {
    list-style-type: none;
    display: flex;
    gap: 15px;
  }

  .input-search {
    text-align: start;
    width: 350px;
  }

  .header-search {
    display: flex;
    justify-content: flex-end;
  }

  .main-section3-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    gap: 10px;
  }
}
