<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script defer src="./js/main.js"></script>
  </head>
  <body>
    <header>
      <nav class="grid header-nav">
        <div class="nav-container">
          <a href="./index.html">
            <img src="./images/header/logo.png" alt="logo" />
          </a>
          <div class="nav-contant">
            <div class="search-border-bottom">
              <input class="input-search" type="text" placeholder="Search" />
              <img src="./images/header/loopa.png" alt="loopa" />
            </div>
            <ul class="header-menu">
              <li><a href="./index.html">Home</a></li>
              <li><a href="#">Company Profile</a></li>
              <li><a href="./Tomato_all.html">Products</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">R & D</a></li>
              <li><a href="./Contact_us.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="bg-contact-us"></div>
    </header>
    <main class="grid main-contact-us">
      <div id="app">
        <h1 class="main-content-h1">Contact us</h1>
        <p class="p-star">*****</p>
        <table v-if="cart!=''">
          <tr>
            <th>Image</th>
            <th>Product name</th>
            <th class="td-info">Info</th>
            <th>Options</th>
          </tr>
          <tr v-for="c in cart">
            <td>
              <img :src="'./images/tomato_all/'+c.image" alt="cucumber" />
            </td>
            <td>{{ c.title }}</td>
            <td class="td-info">{{ c.short_text }}</td>
            <td>
              <a href="#" @click.prevent="removeFromCart(c.id)">X</a>
            </td>
          </tr>
        </table>
        <form
          action="Contact_us.html"
          @submit.prevent="makeOrder()"
          v-if="order==0"
        >
          <div>
            <p>Name *</p>
            <input
              type="text"
              name="name"
              v-model="contactFields.name"
              required
            />
            <p>Company Name</p>
            <input
              type="text"
              name="company-name"
              v-model="contactFields.company_name"
            />
            <p>Position</p>
            <input
              type="text"
              name="position"
              v-model="contactFields.position"
            />
            <p>City</p>
            <input type="text" name="city" v-model="contactFields.city" />
            <p>Country</p>
            <input type="text" name="country" v-model="contactFields.country" />
            <p>Telephone</p>
            <input
              type="text"
              name="telephone"
              v-model="contactFields.telephone"
            />
            <p>Email *</p>
            <input
              type="text"
              name="email"
              v-model="contactFields.email"
              required
            />
          </div>
          <div>
            <p>You are a</p>
            <select name="select" v-model="contactFields.select">
              <option>seed producer</option>
            </select>
            <p>If other, please specify</p>
            <input type="text" name="other" />
            <p>You are interested in</p>
            <textarea name="message" rows="20" cols="40"></textarea>
            <p>Please type this code</p>
            <div class="form-sumbit">
              <input class="input-sumbit" type="text" />
              <button class="btn-sumbit" type="submit">Send Message</button>
            </div>
          </div>
        </form>
        <div v-if="order==1">
          <h3>Thank You</h3>
          <p>Name: {{ contactFields.name }}</p>
          <p v-if="contactFields.company_name">
            Company Name: {{ contactFields.company_name }}
          </p>
          <p v-if="contactFields.position">
            Position: {{ contactFields.position }}
          </p>
          <p v-if="contactFields.city">City: {{ contactFields.city }}</p>
          <p v-if="contactFields.country">
            Country: {{ contactFields.country }}
          </p>
          <p v-if="contactFields.telephone">
            Telephone: {{ contactFields.telephone }}
          </p>
          <p>Email: {{ contactFields.email }}</p>
          <p v-if="contactFields.select">Select: {{ contactFields.select }}</p>
        </div>
        <div class="address-content">
          <p class="name-ul-green">Our Address</p>
          <div class="border-bottom-green"></div>
          <p>AGRIDERA Seeds & Agriculture Ltd.</p>
          <p>P.O Box 103,</p>
          <p>Gedera 70750, Israel.</p>
          <p>
            Telephone:
            <a href="tel:+97289449222" target="_blank">+972 8 944 9222</a>
          </p>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-container1">
        <ul class="footer-nav">
          <li><a href="#">PROFILE</a></li>
          <li><a href="#">MANAGEMENT</a></li>
          <li><a href="./Tomato_all.html">PRODUCTS</a></li>
          <li><a href="#">R&D</a></li>
          <li><a href="#">LINKS</a></li>
          <li><a href="#">SITEMAP</a></li>
          <li><a href="./Contact_us.html">CONTACT</a></li>
        </ul>
        <ul class="footer-nav">
          <li>
            <img src="./images/footer/Ico_in.svg" alt="Ico_in" />
          </li>
          <li>
            <img src="./images/footer/Ico_inst.svg" alt="Ico_inst" />
          </li>
          <li>
            <img src="./images/footer/Ico_tube.svg" alt="Ico_tube" />
          </li>
          <li>
            <img src="./images/footer/Ico_tw.svg" alt="Ico_tw" />
          </li>
          <li>
            <img src="./images/footer/Ico_fb.svg" alt="Ico_fb" />
          </li>
        </ul>
      </div>
      <div class="footer-container2">
        AGRIDERA SEEDS & AGRICULTURE LTD. © 2020
      </div>
    </footer>
  </body>
</html>
